<div class="max-w-full mx-auto py-6 sm:px-10 lg:px-8">
    <div class="bg-white rounded-lg shadow-md p-4 mb-4">
      <div class="flex justify-between items-center mb-4">
        <div class="flex space-x-4">
          <p class="cursor-pointer" [class.font-bold]="selectedOption === 'allRequests'" (click)="selectedOption = 'allRewards'">
            Your Rewards
          </p>
          <p class="cursor-pointer" [class.font-bold]="selectedOption === 'otherInterface'" (click)="selectedOption = 'otherInterface'">
           Employee Rewards
          </p>
        </div>
       
      </div>
  
      <div *ngIf="selectedOption === 'allRewards'">
        <div class="grid grid-cols-1 gap-4">
          <div>
            <mat-card appearance="outlined" class="h-20 mb-3" >
              <div class="flex min-w-0 gap-x-4 mt-3 ml-4">
                
                <div class="min-w-0 flex-auto">
                  <p class="text-sm font-semibold leading-6 text-gray-900">description</p>
                  <p class="mt-1 truncate text-xs leading-5 text-gray-500">&#64;applicant.name Request date: </p>
                </div>
                <div class="mr-4 mt-2 flex items-center">
                 
                  <ng-template #statusMessage>
                    <p class="text-xs leading-5 text-gray-500 italic font-bold">
                      You request.status this application.
                    </p>
                  </ng-template>
                </div>
              </div>
            </mat-card>
          </div>
        </div>
        
      </div>
  
      <div *ngIf="selectedOption === 'otherInterface'">
        <!-- Your other interface content here -->
        <div>
          <mat-card appearance="outlined" class="h-20 mb-3" >
            <div class="flex min-w-0 gap-x-4 mt-3 ml-4">
              <img class="h-12 w-12 flex-none rounded-full bg-gray-50"
                src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                alt="">
              <div class="min-w-0 flex-auto">
                <p class="text-sm font-semibold leading-6 text-gray-900">description</p>
                <p class="mt-1 truncate text-xs leading-5 text-gray-500">&#64;applicant.name Request date: </p>
              </div>
              <div class="mr-4 mt-2 flex items-center">
               
                <ng-template #statusMessage>
                  <p class="text-xs leading-5 text-gray-500 italic font-bold">
                    You request.status this application.
                  </p>
                </ng-template>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
      <mat-paginator [length]="100"
          [pageSize]="10"
          [pageSizeOptions]="[5, 10, 25, 100]"
          aria-label="Select page">
        </mat-paginator>
    </div>
  </div>