<div *ngIf="authService.currentUserSig()">
 
    <div class="max-w-full mx-auto py-6 sm:px-10 lg:px-8">
     <!-- mx-auto max-w-full py-6 sm:px-10 lg:px-8 -->
     <div class="bg-white rounded-lg shadow-md p-4 mb-4">
       <div class="flex justify-between items-center mb-4">
         <div class="text-lg">All Employees</div>
         <button class="bg-blue-500 text-white px-4 py-2 rounded-md" style="background-color: #27432E;">Add Employee</button>
       </div>
  
       <div class="flex justify-center mt-8 mb-6">
        <input type="text" placeholder="Search..." class="border border-gray-300 rounded-l py-2 px-4 outline-none focus:border-blue-500 w-64">
        <div class="mx-4"></div> <!-- Adjust the margin as needed -->
        <button class="bg-blue-500 text-white rounded-r py-2 px-4" style="background-color:#344E3B">Search</button>
      </div>
      
      
   
       <div class="grid grid-cols-1 gap-4">
         <div>
           <mat-card appearance="outlined" class="h-20 mb-3" *ngFor="let employee of employees">
             <div class="flex min-w-0 gap-x-4 mt-3 ml-4">
               <img class="h-12 w-12 flex-none rounded-full bg-gray-50" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
               <div class="min-w-0 flex-auto">
                 <p class="text-sm font-semibold leading-6 text-gray-900">{{employee}}</p>
                 <p class="mt-1 truncate text-xs leading-5 text-gray-500">&#64;MarkMwangi Request date: 4/2/2024</p>
               </div>
               <div class="mr-4 mt-2">
                 <button class="bg-red-500 text-white px-4 py-2 rounded-md mr-2" style="background-color:#344E3B">Remove</button>
                 <button class="bg-green-500 text-white px-4 py-2 rounded-md" style="background-color: #27432E;" >View</button>
               </div>
             </div>
           </mat-card>
         </div>
       </div>
     </div>
   </div>
   </div>
   
  
  
   
  
  
  
  
   